ul.ui-sortable { width: 16%; display: inline-block; padding: 0; margin-left: 0.5%; vertical-align: top; }
ul.ui-sortable li { background-color: silver; margin-bottom: 0.5em; background-color: silver; list-style: none outside none; }
.directory-thumb { vertical-align: middle; border: black 1px solid; }
.hide { display: none; }