.directory-thumb { vertical-align: middle; border: black 1px solid; margin-left: 1em; }
ul.ui-sortable { width: 32%; padding-left: 1%; float: left; }
li { background-color: silver; margin-bottom: 1em; }
.hide { display: none; }