.bullet {
  width: 195px;
  height: 110px;
  background-color: #545454;
  padding-bottom: 6px;
  float: left;
  margin: 6px;
}

.caption {
  font-weight: bold;
  font-size: 11px;
  margin: 0 5px;
}

.imgButton {
  display: block;
  border-style: solid;
  border-width: 5px 5px 20px;
  border-color: #545454;
}
.imgButton:hover {
  border-color: orange;
}
.highlight {
  border-color: white;
}
.highlightMulti {
  border-color: #d9c24a;
}
