node_modules
npm-debug.log
yarn-error.log

public/js/
plugins/resize/test/fixtures/photos/2016-07-12.jpg
plugins/resize/test/fixtures/thumbs/2016-07-12.jpg
plugins/*/public/assets

coverage.lcov
.nyc_output
tmp
