language: node_js

env:
  - CODECLIMATE_REPO_TOKEN=27355443bbc9aa3c50cffddc9f6fedf22948472b021e30c115e8749095b51ea0

addons:
  apt:
    packages:
      - graphicsmagick

node_js:
  - "10"

before_script:
  - node --version
  - npm --version
  - gm version
  - npm run lint
  - npm run test:react

script:
  - npm test

after_success:
  - mv ui/package-skip-to-test.json ui/package.json
  - cd ui
  - npm ci
  - npm test
  - npm run ci-cover:coveralls
  - npm run ci-cover:prep-codeclimate
  - npm run ci-cover:codeclimate
