body {
  font-family: Verdana, sans-serif;
  color: silver;
  background-color: #323232;
  margin: 0 auto;
  min-height: 100%;
  padding: 0 16px;
}

html {
  --gridPx: 4px;
  --grid2Px: calc(2 * 4px);
}

.mapboxgl-control-container {
  display: none;
}

/* Hide the large center overlay play button on HTML5 video */
.image-gallery-image::-webkit-media-controls-overlay-play-button {
  display: none !important;
}
.image-gallery-image::-webkit-media-controls-start-playback-button {
  display: none !important;
}
.image-gallery-image::-moz-media-controls-overlay-play-button {
  display: none !important;
}
