body {
  font-family: Verdana, sans-serif;
  color: silver;
  background-color: #323232;
  margin: 0 auto;
  min-height: 100%;
  padding: 0 16px;
}

html {
  --gridPx: 4px;
  --grid2Px: calc(2 * 4px);
}
